* { box-sizing: border-box; }
.cell {
  width: 10%;
  float: left;
  border: thin solid black;
}

.cell:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

#box {
  width: 80%;
  margin: 0 auto;
}

.floating {
  position: absolute;
  border: thin solid red;
}

#palette {
  position: absolute;
  border: thin solid black;
}

.colorpicks {
  width: 100%;
  float: left;
}

 #red {
   background-color: red;
 }

 #green {
   background-color: green;
 }

 #pink {
   background-color: pink;
 }

 #orange {
   background-color: orange;
 }

 #yellow {
   background-color: yellow;
 }

 #blue {
   background-color: blue;
 }

#hextyper {
  border: thin solid black;
  position: absolute;
}
